.calculator-container {
  text-align: center;
  margin-top: 120px;
}

.calculator-inputs {
  margin-bottom: 10px;
  padding:10px
}

.calculator-inputs input {
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px;
}

.calculator-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}

.calculator-buttons button {
  margin: 0 5px;
  border: 2px solid black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px;
}

.calculator-result {
  font-size: 24px;
}





